<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca de Libros</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <h1>Biblioteca de Libros</h1>

    <form id="form-libro">
        <h2>Agregar/Editar Libro</h2>
        <input type="text" id="titulo" placeholder="Título del Libro" required>
        <input type="text" id="autor" placeholder="Autor del Libro" required>
        <input type="date" id="fecha_publicacion" placeholder="Fecha de Publicación" required>
        <input type="text" id="genero" placeholder="Género del Libro" required>
        <input type="file" id="portada" accept="image/*" required>
        <button type="submit" id="boton">Guardar</button>
    </form>

    <h2>Lista de Libros</h2>
    <div id="data-libros"></div>

    <script src="./javascript/app.js"></script>
</body>
</html>
